-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: semogabisa
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` char(36) NOT NULL,
  `user_id` char(36) DEFAULT NULL,
  `activity_type` varchar(255) DEFAULT NULL,
  `activity_time` timestamp NOT NULL DEFAULT current_timestamp(),
  `device_lan_mac` varchar(255) DEFAULT NULL,
  `device_wifi_mac` varchar(255) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `activity_logs_user_id_foreign` (`user_id`),
  CONSTRAINT `activity_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` char(36) DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `kantor` varchar(255) DEFAULT NULL,
  `jam_masuk` time DEFAULT NULL,
  `jam_keluar` time DEFAULT NULL,
  `jam_masuk2` time DEFAULT NULL,
  `jam_keluar2` time DEFAULT NULL,
  `jam_masuk3` time DEFAULT NULL,
  `jam_keluar3` time DEFAULT NULL,
  `jam_masuk4` time DEFAULT NULL,
  `jam_keluar4` time DEFAULT NULL,
  `jam_masuk5` time DEFAULT NULL,
  `jam_keluar5` time DEFAULT NULL,
  `jam_masuk6` time DEFAULT NULL,
  `jam_keluar6` time DEFAULT NULL,
  `jam_masuk7` time DEFAULT NULL,
  `jam_keluar7` time DEFAULT NULL,
  `jam_masuk8` time DEFAULT NULL,
  `jam_keluar8` time DEFAULT NULL,
  `jam_masuk9` time DEFAULT NULL,
  `jam_keluar9` time DEFAULT NULL,
  `jam_masuk10` time DEFAULT NULL,
  `jam_keluar10` time DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `attendance_employee_id_foreign` (`employee_id`),
  CONSTRAINT `attendance_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees_tables` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_tables`
--

DROP TABLE IF EXISTS `attendance_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance_tables` (
  `id` char(36) NOT NULL,
  `user_id` char(36) DEFAULT NULL,
  `check_in_time` datetime DEFAULT NULL,
  `check_out_time` datetime DEFAULT NULL,
  `attendance_date` date DEFAULT NULL,
  `status` enum('Late','Ontime','Absent') DEFAULT NULL,
  `device_id` varchar(255) DEFAULT NULL COMMENT 'ID perangkat Fingerspot',
  `is_public_holiday` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `attendance_tables_attendance_date_index` (`attendance_date`),
  KEY `attendance_tables_user_id_attendance_date_index` (`user_id`,`attendance_date`),
  CONSTRAINT `attendance_tables_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_tables`
--

LOCK TABLES `attendance_tables` WRITE;
/*!40000 ALTER TABLE `attendance_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `banks_tables`
--

DROP TABLE IF EXISTS `banks_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `banks_tables` (
  `id` char(36) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `banks_tables_name_unique` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banks_tables`
--

LOCK TABLES `banks_tables` WRITE;
/*!40000 ALTER TABLE `banks_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `banks_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brands_tables`
--

DROP TABLE IF EXISTS `brands_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `brands_tables` (
  `id` char(36) NOT NULL,
  `brand_code` varchar(255) DEFAULT NULL,
  `brand_name` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brands_tables`
--

LOCK TABLES `brands_tables` WRITE;
/*!40000 ALTER TABLE `brands_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `brands_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories_tables`
--

DROP TABLE IF EXISTS `categories_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories_tables` (
  `id` char(36) NOT NULL,
  `parent_id` char(36) DEFAULT NULL,
  `category_code` varchar(255) DEFAULT NULL,
  `category_name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `categories_tables_parent_id_foreign` (`parent_id`),
  CONSTRAINT `categories_tables_parent_id_foreign` FOREIGN KEY (`parent_id`) REFERENCES `categories_tables` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories_tables`
--

LOCK TABLES `categories_tables` WRITE;
/*!40000 ALTER TABLE `categories_tables` DISABLE KEYS */;
INSERT INTO `categories_tables` VALUES ('01965906-3db0-720e-ad47-d19131e1d906',NULL,'01','Drink','2025-04-21 15:45:03','2025-04-21 15:45:03'),('01966bf3-651a-717f-8b3a-828006d90a6f','01965906-3db0-720e-ad47-d19131e1d906','0101','Drink Hot','2025-04-25 07:57:15','2025-04-25 07:57:15'),('01966c05-3f97-73c9-9210-0472fef3e4f3','01966bf3-651a-717f-8b3a-828006d90a6f','010101','Hot Coffee','2025-04-25 08:16:45','2025-04-25 08:16:45'),('01966c13-dbac-71cd-b600-7e98d33243d9',NULL,'02','Food','2025-04-25 08:32:42','2025-04-25 08:32:42');
/*!40000 ALTER TABLE `categories_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_tables`
--

DROP TABLE IF EXISTS `company_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_tables` (
  `id` char(36) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `npwp` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_tables`
--

LOCK TABLES `company_tables` WRITE;
/*!40000 ALTER TABLE `company_tables` DISABLE KEYS */;
INSERT INTO `company_tables` VALUES ('0196ba4f-5c58-7022-9eb2-ba407eaf4753','PT. Mahendradata Jaya Mandiri','ngetes','ngetes','2025-05-10 13:08:05','2025-08-23 03:35:01','1746890664_1710675344-17-03-2024-iSZQk9yVubtJh31N46lxpnC7av5osrLW.png'),('0196ba57-c0ab-7339-b5f4-2bdfedfa14f2','PT. Tenji Indonesia','gatau','kurang tau','2025-05-10 13:17:15','2025-08-23 03:35:13','1746883035_Logo-Tenji__1_.png'),('0196ba59-1723-732d-bbe0-d6e245b7e67f','CV. Nuansa Bali Indah','gatau','kurang','2025-05-10 13:18:42','2025-08-23 03:35:30','1746883122_BiB.png');
/*!40000 ALTER TABLE `company_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments_tables`
--

DROP TABLE IF EXISTS `departments_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments_tables` (
  `id` char(36) NOT NULL,
  `department_name` varchar(255) DEFAULT NULL,
  `manager_id` char(36) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `departments_tables_manager_id_foreign` (`manager_id`),
  CONSTRAINT `departments_tables_manager_id_foreign` FOREIGN KEY (`manager_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments_tables`
--

LOCK TABLES `departments_tables` WRITE;
/*!40000 ALTER TABLE `departments_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edited_fingerprints`
--

DROP TABLE IF EXISTS `edited_fingerprints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `edited_fingerprints` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pin` varchar(255) NOT NULL,
  `employee_name` varchar(255) NOT NULL,
  `position_name` varchar(255) DEFAULT NULL,
  `device_name` varchar(255) DEFAULT NULL,
  `scan_date` date NOT NULL,
  `in_1` time DEFAULT NULL,
  `device_1` varchar(255) DEFAULT NULL,
  `in_2` time DEFAULT NULL,
  `device_2` varchar(255) DEFAULT NULL,
  `in_3` time DEFAULT NULL,
  `device_3` varchar(255) DEFAULT NULL,
  `in_4` time DEFAULT NULL,
  `device_4` varchar(255) DEFAULT NULL,
  `in_5` time DEFAULT NULL,
  `device_5` varchar(255) DEFAULT NULL,
  `in_6` time DEFAULT NULL,
  `device_6` varchar(255) DEFAULT NULL,
  `in_7` time DEFAULT NULL,
  `device_7` varchar(255) DEFAULT NULL,
  `in_8` time DEFAULT NULL,
  `device_8` varchar(255) DEFAULT NULL,
  `in_9` time DEFAULT NULL,
  `device_9` varchar(255) DEFAULT NULL,
  `in_10` time DEFAULT NULL,
  `device_10` varchar(255) DEFAULT NULL,
  `duration` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edited_fingerprints`
--

LOCK TABLES `edited_fingerprints` WRITE;
/*!40000 ALTER TABLE `edited_fingerprints` DISABLE KEYS */;
/*!40000 ALTER TABLE `edited_fingerprints` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_shifts_tables`
--

DROP TABLE IF EXISTS `employee_shifts_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_shifts_tables` (
  `id` char(36) NOT NULL,
  `user_id` char(36) DEFAULT NULL,
  `shift_id` char(36) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `status` enum('Scheduled','Cancelled','Swapped') DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_shifts_tables_user_id_shift_id_date_unique` (`user_id`,`shift_id`,`date`),
  KEY `employee_shifts_tables_shift_id_foreign` (`shift_id`),
  CONSTRAINT `employee_shifts_tables_shift_id_foreign` FOREIGN KEY (`shift_id`) REFERENCES `shifts_tables` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employee_shifts_tables_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_shifts_tables`
--

LOCK TABLES `employee_shifts_tables` WRITE;
/*!40000 ALTER TABLE `employee_shifts_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_shifts_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees_tables`
--

DROP TABLE IF EXISTS `employees_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees_tables` (
  `id` char(36) NOT NULL,
  `employee_name` varchar(255) DEFAULT NULL,
  `employee_pengenal` varchar(255) NOT NULL,
  `position_id` char(36) DEFAULT NULL,
  `store_id` char(36) DEFAULT NULL,
  `banks_id` char(36) DEFAULT NULL,
  `bank_account_number` varchar(30) DEFAULT NULL,
  `company_id` char(36) DEFAULT NULL,
  `department_id` char(36) DEFAULT NULL,
  `fingerprint_id` char(36) DEFAULT NULL,
  `status_employee` enum('PKWT','DW','PKWTT','On Job Training','Resign','PKWT (Contract)') DEFAULT NULL,
  `join_date` date DEFAULT NULL,
  `marriage` enum('Yes','No') DEFAULT NULL,
  `child` varchar(20) DEFAULT NULL,
  `telp_number` varchar(255) DEFAULT NULL,
  `nik` varchar(255) DEFAULT NULL,
  `gender` enum('Male','Female','MD') DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `place_of_birth` varchar(255) DEFAULT NULL,
  `biological_mother_name` varchar(255) DEFAULT NULL,
  `religion` enum('Catholic Christian','Christian','Islam','Hindu','Confucian','Buddha') DEFAULT NULL,
  `current_address` text DEFAULT NULL,
  `id_card_address` varchar(255) DEFAULT NULL,
  `last_education` enum('Elementary School','Junior High School','Senior High School','Bachelor Degree','Vocational School','Masters degree','Diploma I','Diploma II','Diploma III','Lord','Diploma IV') DEFAULT NULL,
  `institution` varchar(255) DEFAULT NULL,
  `npwp` varchar(255) DEFAULT NULL,
  `bpjs_kes` varchar(255) DEFAULT NULL,
  `bpjs_ket` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `emergency_contact_name` varbinary(255) DEFAULT NULL,
  `status` enum('Active','Pending','Inactive','On Leave','Mutation') DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `pin` varchar(255) DEFAULT NULL,
  `daily_duit` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employees_tables_employee_pengenal_unique` (`employee_pengenal`),
  UNIQUE KEY `employees_tables_employee_name_unique` (`employee_name`),
  UNIQUE KEY `employees_tables_pin_unique` (`pin`),
  KEY `employees_tables_position_id_foreign` (`position_id`),
  KEY `employees_tables_store_id_foreign` (`store_id`),
  KEY `employees_tables_department_id_foreign` (`department_id`),
  KEY `employees_tables_fingerprint_id_foreign` (`fingerprint_id`),
  KEY `employees_tables_company_id_foreign` (`company_id`),
  KEY `employees_tables_banks_id_foreign` (`banks_id`),
  CONSTRAINT `employees_tables_banks_id_foreign` FOREIGN KEY (`banks_id`) REFERENCES `banks_tables` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employees_tables_company_id_foreign` FOREIGN KEY (`company_id`) REFERENCES `company_tables` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employees_tables_department_id_foreign` FOREIGN KEY (`department_id`) REFERENCES `departments_tables` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employees_tables_fingerprint_id_foreign` FOREIGN KEY (`fingerprint_id`) REFERENCES `fingerprint_devices_tables` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employees_tables_position_id_foreign` FOREIGN KEY (`position_id`) REFERENCES `position_tables` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employees_tables_store_id_foreign` FOREIGN KEY (`store_id`) REFERENCES `stores_tables` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees_tables`
--

LOCK TABLES `employees_tables` WRITE;
/*!40000 ALTER TABLE `employees_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fingerprint_devices_tables`
--

DROP TABLE IF EXISTS `fingerprint_devices_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fingerprint_devices_tables` (
  `id` char(36) NOT NULL,
  `store_id` char(36) DEFAULT NULL,
  `device_name` varchar(255) DEFAULT NULL,
  `serial_number` varchar(255) DEFAULT NULL,
  `last_sync` timestamp NULL DEFAULT NULL,
  `status` enum('Active','Inactive','Maintenance') DEFAULT 'Active',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `fingerprint_devices_tables_serial_number_unique` (`serial_number`),
  KEY `fingerprint_devices_tables_store_id_foreign` (`store_id`),
  CONSTRAINT `fingerprint_devices_tables_store_id_foreign` FOREIGN KEY (`store_id`) REFERENCES `stores_tables` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fingerprint_devices_tables`
--

LOCK TABLES `fingerprint_devices_tables` WRITE;
/*!40000 ALTER TABLE `fingerprint_devices_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `fingerprint_devices_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_requests_tables`
--

DROP TABLE IF EXISTS `leave_requests_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_requests_tables` (
  `id` char(36) NOT NULL,
  `user_id` char(36) DEFAULT NULL,
  `leave_type` enum('Cuti','Sakit','Izin','Lainnya') DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `reason` text DEFAULT NULL,
  `status` enum('Pending','Approved','Rejected','Canceled') DEFAULT 'Pending',
  `approved_by` char(36) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `leave_requests_tables_user_id_foreign` (`user_id`),
  KEY `leave_requests_tables_approved_by_foreign` (`approved_by`),
  KEY `leave_requests_tables_start_date_index` (`start_date`),
  KEY `leave_requests_tables_end_date_index` (`end_date`),
  KEY `leave_requests_tables_status_index` (`status`),
  CONSTRAINT `leave_requests_tables_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `leave_requests_tables_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_requests_tables`
--

LOCK TABLES `leave_requests_tables` WRITE;
/*!40000 ALTER TABLE `leave_requests_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_requests_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `masterproduct_tables`
--

DROP TABLE IF EXISTS `masterproduct_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `masterproduct_tables` (
  `id` char(36) NOT NULL,
  `plu` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `long_description` text DEFAULT NULL,
  `brand_id` char(36) DEFAULT NULL,
  `category_id` char(36) DEFAULT NULL,
  `uom_id` char(36) DEFAULT NULL,
  `taxstatus_id` char(36) DEFAULT NULL,
  `statusproduct_id` char(36) DEFAULT NULL,
  `good_stock` int(11) DEFAULT NULL,
  `bad_stock` int(11) DEFAULT NULL,
  `cogs` decimal(12,2) DEFAULT NULL,
  `retailprice` decimal(12,2) DEFAULT NULL,
  `memberbronzeprice` decimal(12,2) DEFAULT NULL,
  `membersilverprice` decimal(12,2) DEFAULT NULL,
  `membergoldprice` decimal(12,2) DEFAULT NULL,
  `memberplatinumprice` decimal(12,2) DEFAULT NULL,
  `min_stock` int(11) DEFAULT NULL,
  `max_stock` int(11) DEFAULT NULL,
  `weight` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `masterproduct_tables_plu_unique` (`plu`),
  KEY `masterproduct_tables_brand_id_foreign` (`brand_id`),
  KEY `masterproduct_tables_category_id_foreign` (`category_id`),
  KEY `masterproduct_tables_uom_id_foreign` (`uom_id`),
  KEY `masterproduct_tables_taxstatus_id_foreign` (`taxstatus_id`),
  KEY `masterproduct_tables_statusproduct_id_foreign` (`statusproduct_id`),
  CONSTRAINT `masterproduct_tables_brand_id_foreign` FOREIGN KEY (`brand_id`) REFERENCES `brands_tables` (`id`),
  CONSTRAINT `masterproduct_tables_category_id_foreign` FOREIGN KEY (`category_id`) REFERENCES `categories_tables` (`id`),
  CONSTRAINT `masterproduct_tables_statusproduct_id_foreign` FOREIGN KEY (`statusproduct_id`) REFERENCES `statusproduct_tables` (`id`),
  CONSTRAINT `masterproduct_tables_taxstatus_id_foreign` FOREIGN KEY (`taxstatus_id`) REFERENCES `taxstatus_tables` (`id`),
  CONSTRAINT `masterproduct_tables_uom_id_foreign` FOREIGN KEY (`uom_id`) REFERENCES `uoms_tables` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `masterproduct_tables`
--

LOCK TABLES `masterproduct_tables` WRITE;
/*!40000 ALTER TABLE `masterproduct_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `masterproduct_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_permissions`
--

DROP TABLE IF EXISTS `model_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `model_has_permissions` (
  `permission_id` bigint(20) unsigned NOT NULL,
  `model_type` varchar(255) NOT NULL,
  `model_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`model_id`,`model_type`),
  KEY `model_has_permissions_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_permissions`
--

LOCK TABLES `model_has_permissions` WRITE;
/*!40000 ALTER TABLE `model_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_roles`
--

DROP TABLE IF EXISTS `model_has_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `model_has_roles` (
  `role_id` bigint(20) unsigned NOT NULL,
  `model_type` varchar(255) NOT NULL,
  `model_id` char(36) NOT NULL,
  PRIMARY KEY (`role_id`,`model_id`,`model_type`),
  KEY `model_has_roles_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_roles_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_roles`
--

LOCK TABLES `model_has_roles` WRITE;
/*!40000 ALTER TABLE `model_has_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  KEY `password_resets_email_index` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payrolls_tables`
--

DROP TABLE IF EXISTS `payrolls_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payrolls_tables` (
  `id` char(36) NOT NULL,
  `employee_id` char(36) DEFAULT NULL,
  `daily_allowance` decimal(15,2) DEFAULT NULL,
  `attendance` int(11) DEFAULT NULL,
  `house_allowance` decimal(15,2) DEFAULT NULL,
  `meal_allowance` decimal(15,2) DEFAULT NULL,
  `transport_allowance` decimal(15,2) DEFAULT NULL,
  `bonus` decimal(15,2) DEFAULT NULL,
  `overtime` decimal(15,2) DEFAULT NULL,
  `salary` decimal(15,2) DEFAULT NULL,
  `late_fine` decimal(15,2) DEFAULT NULL,
  `punishment` decimal(15,2) DEFAULT NULL,
  `period` varchar(50) DEFAULT NULL,
  `tax` decimal(15,2) DEFAULT NULL,
  `bpjs_kes` decimal(15,2) DEFAULT NULL,
  `bpjs_ket` decimal(15,2) DEFAULT NULL,
  `debt` decimal(15,2) DEFAULT NULL,
  `deductions` decimal(15,2) DEFAULT NULL,
  `take_home` decimal(15,2) DEFAULT NULL,
  `month_year` date DEFAULT NULL,
  `attachment_path` varchar(100) DEFAULT NULL,
  `information` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `payrolls_tables_employee_id_foreign` (`employee_id`),
  CONSTRAINT `payrolls_tables_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees_tables` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payrolls_tables`
--

LOCK TABLES `payrolls_tables` WRITE;
/*!40000 ALTER TABLE `payrolls_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `payrolls_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `guard_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `position_tables`
--

DROP TABLE IF EXISTS `position_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `position_tables` (
  `id` char(36) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `position_tables`
--

LOCK TABLES `position_tables` WRITE;
/*!40000 ALTER TABLE `position_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `position_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `public_holidays_tables`
--

DROP TABLE IF EXISTS `public_holidays_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `public_holidays_tables` (
  `id` char(36) NOT NULL,
  `holiday_name` varchar(255) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `year` smallint(6) DEFAULT NULL,
  `is_recurring` tinyint(1) DEFAULT 1,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `public_holidays_tables_date_index` (`date`),
  KEY `public_holidays_tables_year_index` (`year`),
  KEY `public_holidays_tables_is_recurring_index` (`is_recurring`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `public_holidays_tables`
--

LOCK TABLES `public_holidays_tables` WRITE;
/*!40000 ALTER TABLE `public_holidays_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `public_holidays_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_has_permissions`
--

DROP TABLE IF EXISTS `role_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_has_permissions` (
  `permission_id` bigint(20) unsigned NOT NULL,
  `role_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`role_id`),
  KEY `role_has_permissions_role_id_foreign` (`role_id`),
  CONSTRAINT `role_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_has_permissions_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_has_permissions`
--

LOCK TABLES `role_has_permissions` WRITE;
/*!40000 ALTER TABLE `role_has_permissions` DISABLE KEYS */;
INSERT INTO `role_has_permissions` VALUES (1,1),(2,1),(3,1),(4,2),(4,3),(5,2),(5,3),(6,2),(7,2),(7,3),(8,2),(8,3),(9,2),(9,3),(10,2),(10,3),(11,2),(11,3),(12,2),(12,3);
/*!40000 ALTER TABLE `role_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `guard_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin','web','2025-05-15 16:34:23','2025-05-15 16:34:23'),(2,'HeadHR','web','2025-05-15 16:34:23','2025-05-15 16:34:23'),(3,'HR','web','2025-05-22 10:27:42','2025-05-22 10:27:42');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shift_swaps_tables`
--

DROP TABLE IF EXISTS `shift_swaps_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shift_swaps_tables` (
  `id` char(36) NOT NULL,
  `requester_id` char(36) DEFAULT NULL,
  `receiver_id` char(36) DEFAULT NULL,
  `original_shift_id` char(36) DEFAULT NULL,
  `new_shift_id` char(36) DEFAULT NULL,
  `status` enum('Pending','Approved','Rejected','Canceled') DEFAULT 'Pending',
  `reason` text DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `approved_by` char(36) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `shift_swaps_tables_requester_id_foreign` (`requester_id`),
  KEY `shift_swaps_tables_receiver_id_foreign` (`receiver_id`),
  KEY `shift_swaps_tables_original_shift_id_foreign` (`original_shift_id`),
  KEY `shift_swaps_tables_new_shift_id_foreign` (`new_shift_id`),
  KEY `shift_swaps_tables_approved_by_foreign` (`approved_by`),
  CONSTRAINT `shift_swaps_tables_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `shift_swaps_tables_new_shift_id_foreign` FOREIGN KEY (`new_shift_id`) REFERENCES `employee_shifts_tables` (`id`) ON DELETE CASCADE,
  CONSTRAINT `shift_swaps_tables_original_shift_id_foreign` FOREIGN KEY (`original_shift_id`) REFERENCES `employee_shifts_tables` (`id`) ON DELETE CASCADE,
  CONSTRAINT `shift_swaps_tables_receiver_id_foreign` FOREIGN KEY (`receiver_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `shift_swaps_tables_requester_id_foreign` FOREIGN KEY (`requester_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shift_swaps_tables`
--

LOCK TABLES `shift_swaps_tables` WRITE;
/*!40000 ALTER TABLE `shift_swaps_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `shift_swaps_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shifts_tables`
--

DROP TABLE IF EXISTS `shifts_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shifts_tables` (
  `id` char(36) NOT NULL,
  `store_id` char(36) DEFAULT NULL,
  `shift_name` varchar(255) DEFAULT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `last_sync` timestamp NULL DEFAULT NULL,
  `is_holiday` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `shifts_tables_store_id_foreign` (`store_id`),
  CONSTRAINT `shifts_tables_store_id_foreign` FOREIGN KEY (`store_id`) REFERENCES `stores_tables` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shifts_tables`
--

LOCK TABLES `shifts_tables` WRITE;
/*!40000 ALTER TABLE `shifts_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `shifts_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statusproduct_tables`
--

DROP TABLE IF EXISTS `statusproduct_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `statusproduct_tables` (
  `id` char(36) NOT NULL,
  `status` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `statusproduct_tables_status_unique` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statusproduct_tables`
--

LOCK TABLES `statusproduct_tables` WRITE;
/*!40000 ALTER TABLE `statusproduct_tables` DISABLE KEYS */;
INSERT INTO `statusproduct_tables` VALUES ('019653a2-5728-72a4-b18b-5b5137d187bc','Freeze','2025-04-20 14:37:50','2025-04-20 14:37:50');
/*!40000 ALTER TABLE `statusproduct_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stores_tables`
--

DROP TABLE IF EXISTS `stores_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stores_tables` (
  `id` char(36) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `phone_num` varchar(255) DEFAULT NULL,
  `open_time` time DEFAULT NULL,
  `close_time` time DEFAULT NULL,
  `manager_id` char(36) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `stores_tables_manager_id_foreign` (`manager_id`),
  CONSTRAINT `stores_tables_manager_id_foreign` FOREIGN KEY (`manager_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stores_tables`
--

LOCK TABLES `stores_tables` WRITE;
/*!40000 ALTER TABLE `stores_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `stores_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `submissions_tables`
--

DROP TABLE IF EXISTS `submissions_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `submissions_tables` (
  `id` char(36) NOT NULL,
  `user_id` char(36) DEFAULT NULL,
  `approvel_id` char(36) DEFAULT NULL,
  `type` enum('Cuti Tahunan','Izin Sakit','Lembur','Cuti Melahirkan','Izin') DEFAULT NULL,
  `duration` varchar(255) DEFAULT NULL,
  `status` enum('Pending','Approved','Rejected') NOT NULL DEFAULT 'Pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submissions_tables`
--

LOCK TABLES `submissions_tables` WRITE;
/*!40000 ALTER TABLE `submissions_tables` DISABLE KEYS */;
/*!40000 ALTER TABLE `submissions_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taxstatus_tables`
--

DROP TABLE IF EXISTS `taxstatus_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `taxstatus_tables` (
  `id` char(36) NOT NULL,
  `taxstatus` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taxstatus_tables`
--

LOCK TABLES `taxstatus_tables` WRITE;
/*!40000 ALTER TABLE `taxstatus_tables` DISABLE KEYS */;
INSERT INTO `taxstatus_tables` VALUES ('0196538d-6028-7174-abb4-4f8eeffd2366','Taxable','2025-04-20 14:14:56','2025-04-20 14:15:33');
/*!40000 ALTER TABLE `taxstatus_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `terms`
--

DROP TABLE IF EXISTS `terms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `terms` (
  `id` char(36) NOT NULL,
  `device_lan_mac` varchar(255) DEFAULT NULL,
  `device_wifi_mac` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `terms_device_lan_mac_unique` (`device_lan_mac`),
  UNIQUE KEY `terms_device_wifi_mac_unique` (`device_wifi_mac`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `terms`
--

LOCK TABLES `terms` WRITE;
/*!40000 ALTER TABLE `terms` DISABLE KEYS */;
INSERT INTO `terms` VALUES ('01961442-a4eb-7026-9b34-c22b9268a884',NULL,'A8-41-F4-18-DB-7',NULL,'2025-04-08 07:17:14','2025-04-09 05:25:57',NULL),('01961489-f117-7176-bbc8-79bd8586339c','00-03-18-0A-0E-22','A8-41-F4-18-DB-7C',NULL,'2025-04-08 08:35:06','2025-04-09 05:26:22',NULL);
/*!40000 ALTER TABLE `terms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `uoms_tables`
--

DROP TABLE IF EXISTS `uoms_tables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `uoms_tables` (
  `id` char(36) NOT NULL,
  `uom_code` varchar(255) DEFAULT NULL,
  `uom` enum('Piece','Dozen','Pack','Box','Kg','Gram','Liter','MLiter','Meter','MMeter') DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uoms_tables_uom_code_unique` (`uom_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uoms_tables`
--

LOCK TABLES `uoms_tables` WRITE;
/*!40000 ALTER TABLE `uoms_tables` DISABLE KEYS */;
INSERT INTO `uoms_tables` VALUES ('01964d84-7e32-7355-83f1-7a1ac08a322b','PCS','Piece','2025-04-19 10:07:30','2025-04-19 10:07:30');
/*!40000 ALTER TABLE `uoms_tables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_sessions`
--

DROP TABLE IF EXISTS `user_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_sessions` (
  `id` char(36) NOT NULL,
  `user_id` char(36) DEFAULT NULL,
  `session_id` varchar(255) DEFAULT NULL,
  `ip_address` varchar(255) DEFAULT NULL,
  `last_activity` timestamp NULL DEFAULT NULL,
  `device_type` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_sessions_session_id_unique` (`session_id`),
  KEY `user_sessions_user_id_foreign` (`user_id`),
  CONSTRAINT `user_sessions_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_sessions`
--

LOCK TABLES `user_sessions` WRITE;
/*!40000 ALTER TABLE `user_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` char(36) NOT NULL,
  `terms_id` char(36) DEFAULT NULL,
  `employee_id` char(36) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `remember_token` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `users_terms_id_foreign` (`terms_id`),
  KEY `users_employee_id_foreign` (`employee_id`),
  CONSTRAINT `users_employee_id_foreign` FOREIGN KEY (`employee_id`) REFERENCES `employees_tables` (`id`) ON DELETE CASCADE,
  CONSTRAINT `users_terms_id_foreign` FOREIGN KEY (`terms_id`) REFERENCES `terms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-24 22:40:58
